In [1]:
import sys
import numpy as np
import pandas as pd

sys.path.append('../..')

from heat_load_calc.weather import weather

# weather

## Outline

地域区分を指定すると、外気温度・外気絶対湿度・法線面直達日射量・水平面天空放射量・夜間放射料・太陽高度・太陽水平方位角を計算するモジュールである。

## Interface

weather.make_weather(region, output_data_dir=None, csv_output=False)

params:

| パラメータ名　| 型 | 概要 |
| :--- | :--- | :--- |
| region | int | 地域区分を表す。1～8の値をとる。 |
| output_data_dir | str | （省略可能）　　取得したデータをCSVではきだす場合のディレクトリ名を指定する。CSVを出力しない場合は省略可能。 |
| csv_output | bool | (省略可能) 　取得したデータをCSVではきだす場合はTrueを指定する。はきださない場合はFalseを指定しないか省略する。 |
| interval | str | （省略可能）　生成するデータの時間間隔。（デフォルトは15分間隔） |

※ interval  
以下の文字列で指定する。  
- '15m': 15分間隔
- '30m': 30分間隔
- '1h': 1時間間隔

returns:

気象データをpandas.DataFrame 形式で返します。  
pandas.DataFrame の行インデクスは日時型（例：1999-01-01 00:00:00)、列インデクスは以下の値をとります。  

| 列名 | 単位 | 概要 |
| :--- | :--- | :--- |
| temperature | ℃ | 外気温度 |
| absolute humidity  | kg/kg(DA) | 外気絶対湿度 |
| normal direct solar radiation | W/m<sup>2</sup> | 法線面直達日射量 |
| horizontal sky solar radiation | W/m<sup>2</sup> | 水平面天空日射量 |
| outward radiation | W/m<sup>2</sup> | 夜間放射量 |
| sun altitude | rad | 太陽高度 |
| sun azimuth | rad | 太陽方位角 |

In [2]:
pd.read_csv('../../docs/data_spec/d_weather.csv')

                               列名         単位        概要
0                     temperature   degree C      外気温度
1               absolute humidity  kg/kg(DA)    外気絶対湿度
2   normal direct solar radiation       W/m2  法線面直達日射量
3  horizontal sky solar radiation       W/m2  水平面天空日射量
4               outward radiation       W/m2     夜間放射量
5                    sun altitude        rad      太陽高度
6                     sun azimuth        rad     太陽方位角

## Example

In [3]:
d = weather.make_weather(region=1)
d.head()

,temperature,absolute humidity,normal direct solar radiation,horizontal sky solar radiation,outward radiation,sun altitude,sun azimuth
1989-01-01 00:00:00,-12.40,0.001400,0.0,0.0,47.222222,-1.189731,-2.787296
1989-01-01 00:15:00,-12.55,0.001375,0.0,0.0,47.916667,-1.170056,-2.637712
1989-01-01 00:30:00,-12.70,0.001350,0.0,0.0,48.611111,-1.144474,-2.501855
1989-01-01 00:45:00,-12.85,0.001325,0.0,0.0,49.305556,-1.114007,-2.380130
1989-01-01 01:00:00,-13.00,0.001300,0.0,0.0,50.000000,-1.079602,-2.271697

特定のデータを配列(numpy ndarray 方式)で取り出す。

In [4]:
np.array(d['temperature'])

array([-12.4 , -12.55, -12.7 , ..., -11.8 , -12.  , -12.2 ])

In [5]:
np.array(d['sun altitude'])

array([-1.18973095, -1.17005601, -1.14447355, ..., -1.20678016,
       -1.20927383, -1.20378216])

特定の種類の特定の日時のデータを取り出す。

In [6]:
d['temperature']['1989-01-01 01:00:00']

-13.0

又は一度numpyにしてからインデクスで取り出す場合。

In [7]:
np.array(d['temperature'])[0]

-12.4

時間間隔を指定してデータを取得したい場合は、引数'interval'を指定する。

In [8]:
weather.make_weather(region=1, interval='30m').head()

,temperature,absolute humidity,normal direct solar radiation,horizontal sky solar radiation,outward radiation,sun altitude,sun azimuth
1989-01-01 00:00:00,-12.4,0.00140,0.0,0.0,47.222222,-1.189731,-2.787296
1989-01-01 00:30:00,-12.7,0.00135,0.0,0.0,48.611111,-1.144474,-2.501855
1989-01-01 01:00:00,-13.0,0.00130,0.0,0.0,50.000000,-1.079602,-2.271697
1989-01-01 01:30:00,-13.6,0.00130,0.0,0.0,50.000000,-1.002081,-2.088654
1989-01-01 02:00:00,-14.2,0.00130,0.0,0.0,50.000000,-0.916756,-1.940096

In [9]:
weather.make_weather(region=1, interval='1h').head()

,temperature,absolute humidity,normal direct solar radiation,horizontal sky solar radiation,outward radiation,sun altitude,sun azimuth
1989-01-01 00:00:00,-12.4,0.0014,0.0,0.0,47.222222,-1.189731,-2.787296
1989-01-01 01:00:00,-13.0,0.0013,0.0,0.0,50.000000,-1.079602,-2.271697
1989-01-01 02:00:00,-14.2,0.0013,0.0,0.0,50.000000,-0.916756,-1.940096
1989-01-01 03:00:00,-15.0,0.0012,0.0,0.0,52.777778,-0.734023,-1.707024
1989-01-01 04:00:00,-16.2,0.0010,0.0,0.0,55.555556,-0.545557,-1.519255