In [1]:
import sys
import numpy as np

sys.path.append('../..')

from heat_load_calc.weather import weather

# モジュール weather

## Outline

モジュール weather は地域区分を指定すると、外気温度・外気絶対湿度・法線面直達日射量・水平面天空放射量・夜間放射料・太陽高度・太陽水平方位角を計算するモジュールです。

## Interface

weather.make_weather(region, output_data_dir=None, csv_output=False)

params:

| パラメータ名　| 型 | 概要 |
| --- | --- | --- |
| region | int | 地域区分を表す。1～8の値をとる。 |
| output_data_dir | str | （省略可能）　　取得したデータをCSVではきだす場合のディレクトリ名を指定する。CSVを出力しない場合は省略可能。 |
| csv_output | bool | (省略可能) 　取得したデータをCSVではきだす場合はTrueを指定する。はきださない場合はFalseを指定しないか省略する。 |

returns:

気象データをpandas.DataFrame 形式で返します。  
pandas.DataFrame の行インデクスは日時型（例：1999-01-01 00:00:00)、列インデクスは以下の値をとります。  

| 列名 | 単位 | 概要 |
| --- | --- | --- |
| temperature [degree C] | ℃ | 外気温度 |
| absolute humidity [kg/kg(DA)] | kg/kg(DA) | 外気絶対湿度 |
| normal direct solar radiation [W/m] | W/m2| 法線面直達日射量 |
| horizontal sky solar radiation [W/m2] | W/m2 | 水平面天空日射量 |
| outward radiation [W/m2] | W/m2 | 夜間放射量 |
| sun altitude [rad] | rad | 太陽高度 |
| sun azimuth [rad] | rad | 太陽方位角 |

# Example

In [2]:
d = weather.make_weather(region=1)
d.head()

,temperature [degree C],absolute humidity [kg/kg(DA)],normal direct solar radiation [W/m2],horizontal sky solar radiation [W/m2],outward radiation [W/m2],sun altitude [rad],sun azimuth [rad]
1989-01-01 00:00:00,-12.40,0.001400,0.0,0.0,47.222222,-1.189731,-2.787296
1989-01-01 00:15:00,-12.55,0.001375,0.0,0.0,47.916667,-1.170056,-2.637712
1989-01-01 00:30:00,-12.70,0.001350,0.0,0.0,48.611111,-1.144474,-2.501855
1989-01-01 00:45:00,-12.85,0.001325,0.0,0.0,49.305556,-1.114007,-2.380130
1989-01-01 01:00:00,-13.00,0.001300,0.0,0.0,50.000000,-1.079602,-2.271697

特定のデータを配列(numpy ndarray 方式)で取り出す。

In [3]:
np.array(d['temperature [degree C]'])

array([-12.4 , -12.55, -12.7 , ..., -11.8 , -12.  , -12.2 ])

特定の種類の特定の日時のデータを取り出す。

In [4]:
d['temperature [degree C]']['1989-01-01 01:00:00']

-13.0

又は一度numpyにしてからインデクスで取り出す場合。

In [5]:
np.array(d['temperature [degree C]'])[0]

-12.4